
.mc-settings {
    -webkit-transition: visibility 0.2s ease 0s, right 0.3s ease 0s, opacity 0.2s;
    -moz-transition: visibility 0.2s ease 0s, right 0.3s ease 0s, opacity 0.2s;
    -ms-transition: visibility 0.2s ease 0s, right 0.3s ease 0s, opacity 0.2s;
    -o-transition: visibility 0.2s ease 0s, right 0.3s ease 0s, opacity 0.2s;
    transition: visibility 0.2s ease 0s, right 0.3s ease 0s, opacity 0.2s;
}
.toggle-switch + .mc-settings {
    right: -84px;
    opacity: 0;
}

.toggle-switch:checked + .mc-settings {
    right: 12px;
    opacity: 1;
}