.toggle-switch {
    display: none;
}

.toggle-switch + * {
    visibility: hidden;
}

.toggle-switch:checked + * {
    visibility: visible;
}

.toggle-switch + .mc-settings {
    right: -301px;
    opacity: 0;
}

.toggle-switch:checked + .mc-settings {
    right: 12px;
    opacity: 1;
}
.mc-settings {
    transition: visibility 0.3s ease 0s, right 0.3s ease 0s, opacity 0.3s;
}